
@{
    Layout = null;
}

@model IEnumerable<SpeedoModels.Models.CompleteOrders>

@{
    ViewBag.Title = "AdminReportpdf";
}



<br />
<br />
<br />
<br />
<br />
<br />
<br />

<h2>Admin Report PDF</h2>
<table class="table">
    <tr>
        <th>
            FirstName
        </th>
        <th>
            LastName
        </th>
        <th>
            Address
        </th>
        <th>
            City
        </th>
        <th>
            State
        </th>
        <th>
            PostalCode
        </th>
        <th>
            Country
        </th>
        <th>
            Phone
        </th>
        <th>
            SaveInfo
        </th>
        <th>
            Email
        </th>
        <th>
            DeliveryMethod
        </th>
        <th>
            DeliveryDate
        </th>
        <th>
            HasPaid
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPostalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CCountry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CSaveInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CDeliveryMethod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CDeliveryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CHasPaid)
            </td>

        </tr>
    }
 

</table>
    
    
<br />
<br />


@*@Html.ActionLink("Customer Report", "CustomerReport")*@
